<h1 class="text-3xl font-bold text-slate-800 mb-6">Product Analysis</h1>

<div class="bg-white p-6 rounded-lg shadow-md">
  <h2 class="text-xl font-semibold text-slate-900 mb-4">Products by Category</h2>
  @if(isLoading()) {
    <div class="flex items-center justify-center h-96">
        <div class="flex flex-col items-center">
            <svg class="animate-spin h-10 w-10 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <p class="mt-4 text-slate-500">Loading Chart Data...</p>
        </div>
    </div>
  } @else {
    @if (barChartData().datasets.length > 0 && barChartData().datasets[0].data.length > 0) {
      <div class="w-full h-96">
        <canvas 
            baseChart
            [data]="barChartData()"
            [options]="barChartOptions"
            [type]="barChartType">
        </canvas>
      </div>
    } @else {
      <div class="flex items-center justify-center h-96">
        <p class="text-slate-500">No data available to display chart.</p>
      </div>
    }
  }
</div>